  .select {
    position: relative;
    margin-bottom: 33px;
    padding-left: 5px
  }
  
  .selectArrow {
    position: absolute;
    top: 55%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    fill: #0d0d0d
  }

  .caption {
    font-size: 12px;
    line-height: 1.167;
    font-weight: 700
  }

  .currentText {
    position: relative;
    display: inline-block;
    padding-right: 12px;
    font-size: 12px;
    line-height: 1.167;
    cursor: pointer;
    margin-left: 5px;
  }

  .optionsList {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    position: absolute;
    top: calc(100% + 1px);
    left: 52px;
    z-index: 1;
    display: none;
  }
  
  
  .opened {
    display: block
  }

  .option {
    min-width: 170px;
    padding: 14px 16px 10px;
    font-size: 14px;
    line-height: 1.2143;
    -webkit-transition: background .3s;
    transition: background .3s;
    outline: 0;
    cursor: pointer
  }
  
  .option.active,
  .option:focus,
  .option:hover {
    background-color: #f2f2f2
  }
  
  .option:selected {
    background-color: #f2f2f2
  }